body {
    background: #000000;
    /* fallback for old browsers */
    background: linear-gradient(to top, #000000, #434343);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
}

#main {
    display: grid;
    place-items: center;
    min-height: 100vh;
    color: white;
}

#loading {
    width: 3.75em;
    transform-origin: center;
    animation: rotate 2s linear infinite;
}

#loading circle {
    fill: none;
    stroke: #00e28b;
    stroke-width: 4;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}